{% extends "base.html" %}
{% load static %}

{% block title %}章节正文{% endblock %}

{% block content %}
<h2>章节内容: {{ chapter.title }}</h2>
<form method="post">
  {% csrf_token %}
  <table>
    <tr>
      <td>章节标题:</td>
      <td>{{ form.title }}</td>
    </tr>
    <tr>
      <td>章节概要:</td>
      <td>
        <textarea name="summary" rows="3" cols="50">{{ chapter.summary }}</textarea>
      </td>
    </tr>
    <tr>
      <td>章节顺序:</td>
      <td>
        <div>{{ form.order }} 章节字数: {{ chapter.content|length }}</div> <!-- 章节字数显示在章节顺序上方 -->
      </td>
    </tr>
    <tr>
      <td>章节内容:</td>
      <td><textarea name="content" rows="20" cols="120" style="font-size: 14px;">{{ chapter.content }}</textarea></td>
    </tr>
  </table>
  <button type="submit">保存</button>
</form>
{% endblock %}
